h.atom_environment_hashmap.four_bonds.txt.gz filter=lfs diff=lfs merge=lfs -text
fold_templates.input filter=lfs diff=lfs merge=lfs -text
code_debug.exe filter=lfs diff=lfs merge=lfs -text
bcl.exe filter=lfs diff=lfs merge=lfs -text
example_gprof.exe filter=lfs diff=lfs merge=lfs -text
